<nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><i class="material-icons large">dashboard</i> Admin</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Hello Admin</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- Collapsible sidebar -->
  <ul class="sidenav collapsible" id="mobile-demo">
    <li>
      <div class="collapsible-header"><i class="material-icons">account_circle</i>Hello Admin</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">logout</i>Logout</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">info</i>About</div>
        <div class="collapsible-body center"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
    