<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">The Alog</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="#footer">Contact</a></li>
      <li><a href="#footer">About</a></li>
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1"
          ><i class="material-icons">account_circle arrow_drop_down</i></a
        >
      </li>
      <li>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </li>
    </ul>
  </div>
</nav>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/users/signin">Sign In</a></li>
  <li><a href="/users/signup">Sign Up</a></li>
</ul>
<!-- Collapsible sidebar -->
<ul class="sidenav collapsible" id="mobile-demo">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">account_circle</i>Account
    </div>
    <div class="collapsible-body center">
      <span>
        <i class="material-icons tiny">border_color</i>
        <a href="/signin">Sign In</a>
        <br />
        <i class="material-icons tiny">account_circle</i>
        <a href="/signup">Sign Up</a></span
      >
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">home</i>Home</div>
    <div class="collapsible-body center">
      <i class="material-icons tiny">input</i><a href="/">Return to homepage</a>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">chrome_reader_mode</i>Contact
    </div>
    <div class="collapsible-body center">
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">info</i>About
    </div>
    <div class="collapsible-body center">
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
  </li>
</ul>
