  <form action="/posts/search" method="GET">
    <div class="search">
      <div class="row">
        <div class="input-field col l10 s9">
          <input name="searchTerm" id="first_name2" type="text" class="validate">
          <label class="active" for="first_name2">Search Post</label>
        </div>
        <div class="input-field col l2 s2">
          <button class="btn">Search</button>
        </div>
      </div>
    </div>
  </form>
